.word-letter:hover {
  border: 1px solid black;
}

.word-letter {
  cursor: pointer;
  border: 1px solid white;
}

.word {
  font-size: 200%;
  letter-spacing: 4px;
}

.color-picker {
  font-size: 25px;
}
.color-picker-cell {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline-block;
}